@model IEnumerable<MVC_Plan.Models.DegreePlanTermRequirement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by term ID: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TermIDSortParm"]">@Html.DisplayNameFor(model => model.TermID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreePlanSortParm"]">@Html.DisplayNameFor(model => model.DegreePlan)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RequirementSortParm"]">@Html.DisplayNameFor(model => model.Requirement)</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TermID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequirementID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DegreePlanTermRequirementID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DegreePlanTermRequirementID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DegreePlanTermRequirementID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
